	<h3 align="center">Step 4/4</h3>
	<p>&nbsp;</p>
	<p align="center">Once your notes have uploaded you will be re-directed to your profile, where your upload will be visible. Your notes will then be assessed and valued, we will then contact you to confirm you accept our valuation before offering the notes on our platform.</p>
	<p>&nbsp;</p>
	<p><b>Your upload file must be a .pdf file</b></p>
<%= f.file_field :attachment %>
    <p>&nbsp;</p>
<%= f.submit "Save", :class => "btn btn-lg btn-primary btn-block"  %>
<%= f.submit "< Back", :name => "back_button",  :class => "btn btn-lg btn-primary btn-block"  %>