<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @user.first_name %>,
    <p>
Thank you for registering to upload files to Angly's Notes, by registering for an account you are agreeing to our terms and conditons. You have registered with the e-mail address: <%= @user.email %> which you log in to Angly's notes with, all payments will be made via PayPal to that address, payments are made 30 days after your notes are downloaded. 
    </p>
    <p>
We hope you enjoy using our site.
    </p>
    <p>Many Thanks</p>
<p>Angly's Notes</p>
  </body>
</html>