<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">

  <div class="col-xs-18 col-sm-12">
    <div class="jumbotron">
      <h1 align="center">What we do...</h1>
      <p>&nbsp;</p>
      <p>Angly's Notes provides a link between people studying for professional examinations, University courses or personal growth, and people who have recently studied the same topics. The link is in the valuable notes made by previous students. We <b>do not</b> provide assignments, examination papers or textbooks. The copyright to all our material is held by the uploader.</p>
    </div>
  </div>

    <div class="container marketing">
      
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag('prof.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Download Notes</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#a_downloads" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <%= image_tag('textbook.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Upload Notes</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#a_uploads" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <%= image_tag('lecture.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Plagiarism/Concerns </h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#a_concerns" role="button">Read more &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

       <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading"><a id="a_downloads"></a>Downloading notes. <span class="text-muted">Study simplified.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading"><a id="a_uploads"></a>Uploading notes. <span class="text-muted">Earn for yourself or a good cause. </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
       <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading"><a id="a_concerns"></a>Worried. <span class="text-muted">Issues explained.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      
