<div class="container">
<div class="jumbotron">
    <h1 align="center">Our Notes Mobile</h1>
    <p>&nbsp;</p>
    <p align="center">From a crash course or summary of your subject, to extensive detailed notes, downloading from Our Notes allows you to have the information you need at your finger tips.</p>
  </div>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag('prof.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
      <h2>Professional Exams</h2>
      <p>Preparing for essential professional exams? Avoid expensive courses and use our notes from people who were in your situation just a few years ago.</p>
      <p><a class="btn btn-default" href="/notes" role="button">See notes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('textbook.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
      <h2>Textbooks</h2>
      <p>Textbooks can be bulky and expensive, limit your library time by using our notes. </p>
      <p><a class="btn btn-default" href="/notes" role="button">See notes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <%= image_tag('lecture.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
      <h2>Lectures</h2>
      <p>Whether you are looking to study for university exams or want to delve deeper into a subject our lecture notes are for you. </p>
      <p><a class="btn btn-default" href="/notes" role="button">See notes &raquo;</a></p>
    </div>
  </div>
</div>
</div>
  
