<% if false %>
Written by Jack Paget and Angharad Dare-Edwards:: git: https://github.com/jackpaget1/anglysnotes

Notes:
The privacy policy was downloaded from http://www.freeprivacypolicy.com and modified to use with the Twitter Bootstrap may need to update from time to time. 

Change Log:
<% end %>

<div class="container">
		<div class="jumbotron">
			<h1 align="center">Privacy Policy</h1>
			<p>&nbsp;</p>
          	<p>Our Notes is provided to you by Our Notes Ltd (UK CN: ##########). we are committed to safeguarding and preserving the privacy of our visitors. This Privacy Policy document (the "Policy") has been provided  and approved by our solicitors.</p>
          	
          	<p>This Policy deals with how Our Notes Ltd of 1 Back Lane, Ducklington, Witney, Oxfordshire, United Kingdom, OX29 7UE, handles your personal information</p>
          	
          	<p>By accessing this site you are agreeing to this Policy, the Policy is current as of 4<sup>th</sup> August 2014. If you do not consent to the collection, storage, use and disclosure of your personal information as laid out in this Policy then we are unable to provide you with the full range of Our Notes services.</p>
          	
          	<p>If you have any questions then please do not hesitate to <a href="/contacts">contact us</a>.</p>

        <hr class="featurette-divider">

			<h2>What information do we collect?</h2> 
			<p>In running and maintaining our website we may collect and process the following data about you:</p>
				<p>&middot; Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.</p>
				<p>&middot; Information provided voluntarily by you. For example, when you register for information or make a purchase.</p>
				<p>&middot; Information that you provide when you communicate with us by any means.</p>
			<p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name or e-mail address. You may, however, visit our site anonymously.</p>
			<h2>What do we use your information for?</h2> 
			<p>Any of the information we collect from you may be used in one of the following ways: </p>
				<p>&middot; To personalize your experience (your information helps us to better respond to your individual needs)</p>
				<p>&middot; To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>
				<p>&middot; To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</p>
				<p>&middot; To process transactions. Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
				<p>&middot; To send periodic emails. The email address you provide for order processing, will only be used  to send you information and updates pertaining to your order.</p>

			<h2>How do we protect your information?</h2> 
			<p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information.</p>
			<p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to?keep the information confidential.</p>
			<p>After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.</p>
			<p>In operating our website it may become necessary to transfer data that we collect from you to locations outside of the European Union for processing and storing. By providing your personal data to us, you agree to this transfer, storing and processing. We do our utmost to ensure that all reasonable steps are taken to make sure that your data is stored securely.</p>
			<p>Unfortunately the sending of information via the internet is not totally secure and on occasion such information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, sending such information is entirely at your own risk.</p>

			<h2>Use of Cookies</h2> 
			<p>Cookies provide information regarding the computer used by a visitor. We may use cookies where appropriate to gather information about your computer in order to assist us in improving our website.</p>
			<p>We may gather information about your general internet use by using the cookie. Where used, these cookies are downloaded to your computer and stored on the computer’s hard drive. Such information will not identify you personally; it is statistical data which does not identify any personal details whatsoever.</p>
			<p>You can adjust the settings on your computer to decline any cookies if you wish. This can be done within the “settings” section of your computer. For more information please read the advice at <a href="http://www.AboutCookies.org">AboutCookies.org</a>.</p>

			<h2>Do we disclose any information to outside parties?</h2> 
			<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

			<h2>Third Party Links</h2>
			<p>On occasion we include links to third parties on this website. Where we provide a link it does not mean that we endorse or approve that site’s policy towards visitor privacy. You should review their privacy policy before sending them any personal data.</p>

			<h2>Access to Information</h2>
			<p>In accordance with the Data Protection Act 1998 you have the right to access any information that we hold relating to you. Please note that we reserve the right to charge a fee of &pound;10 to cover costs incurred by us in providing you with the information.</p>

			<h2>Policy Details</p>
			<p>If we decide to change our privacy policy, we will update the Privacy Policy modification date below. </p>
			<p>This policy was last modified on 4<sup>th</sup> August 2014.</p>
			<p>If you have any questions or concerns regarding this Policy please do not hesitate to <a href="/contacts">contact us</a>.
	</div>
	</div>
</div>
</div>
