<% if false %>
Written by Jack Paget and Angharad Dare-Edwards:: git: https://github.com/jackpaget1/anglysnotes

Notes:


Change Log:
<% end %>
<div class="container">
		<div class="jumbotron">
			<h1 align="center">Terms and Conditions</h1>
			<p>&nbsp;</p>
      <p>Welcome to Our Notes, provided to you by Our Notes  Ltd (####).</p>

      <p>Each time you access the Our Notes Website, you agree to these Terms and Conditions. If you do not agree to these Terms and Conditions, you must not use or access the Our Notes Website.</p>

      <p>These Terms and Conditions are current as of 21 August 2014. If you have any questions, please <a href="/contacts">contact us</a>.</p>

      <hr class="featurette-divider">

			<h2>1. Definitions</h2> 
      <p>The following meanings apply unless the contrary intention appears:</p>
      <p><b>Our Notes</b> refers to Our Notes Ltd, 1 Back Lane, Ducklington, Witney, Oxfordshire, OX29 7UE.</p>
      <p><b>Our Notes Website</b> means www.our-notes.net</p>
      <p><b>Note</b> means any documents uploaded to the Our Notes Website to be offered for sale, or any document offered for sale on the Our Notes Website.</p>
      <p><b>Downloader</b> refers to any person purchasing documents from the Our Notes Website.</p>
      <p><b>Uploader</b> refers to any person offering documents for sale on the Our Notes Website or uploading prospective Notes to the Our Notes Website.</p>
      <p><b>Registered Uploader</b> means any person who has registered on the Our Notes Website.</p>
      <p><b>You</b> refers to any user of the Our Notes Website.</p>
      <p><b>We and/or Us</b> referes to Our Notes.</p>
      <p><b>Claim</b> includes all claims, actions, demands and proceedings.</p>
      <p><b>Loss</b> includes but is not limited to any loss, liability and expense on a complete indemnity basis.</p>

      <h2>2. The Service</h2> 

      <p>The Our Notes Website is provided as a platform for Uploaders to offer and sell Approved Notes to the Downloaders.</p>
      <p>Sales of any goods or services processed by Our Notes or the Our Notes Website are direct between the Uploader and Downloader. Our Notes is not a party to the sale and only provides a platform for the sale of notes, including storing notes, collecting payment, and ensuring timely delivery of the notes to the Downloader.</p>
      <p>In its capacity as a platform Our Notes does not own, acquire, license or sub-license any interest in any Notes offered for sale through the Our Notes Website.</p>
      <p>Your relationship with Our Notes is limited to that of independent contractors.</p>

      <h2>3. Uploaders Registration</h2> 

      <p>If a person agrees to these Terms and Conditions, they may apply (sign up) to be a registered Uploader of the Our Notes Website. If Our Notes accepts an Uploaders registration then the Uploader is considered registered and able to upload items for sale through the Our Notes platform.</p>

      <p>We reserve the right to suspend, terminate and refuse the registration of any Uploader without cause. We further reserve the right to remove any items offered for sale on the Our Notes platform without cause or notice.</p>

      <p>An Uploaders’ registration cannot be transferred and Uploaders must not disclose their log in credentials to any other person. Uploaders must make all reasonable efforts to ensure the security of the Our Notes platform and Our Notes is not responsible for any security breach due to an Uploaders’ actions.</p>

      <h2>4. Uploading Notes for Sale</h2> 

      <p>Only registered Uploaders can upload notes, all notes must be uploaded in a pdf format and be free from viruses. Once uploaded notes will be approved by Our Notes and the Uploader will be notified once a decision has been made or if more information is required.</p>

      <p>Any information requested by Our Notes must be provided before a note can be approved. The Uploader undertakes that the information provided is accurate and truthful. Should any information be found to be incorrect Our Notes reserves the right to suspend the Uploader, remove any notes they have for sale and withhold payment owing for notes already purchased.</p>

      <p>By uploading a note to Our Notes the Uploader is confirming that: they have all the legal right required to sell that note, the note does not infringe any Intellectual Property; and that the uploaded notes are not being offered for sale in any other form elsewhere.</p>

    <h2>5. Making a Purchase</h2> 

    <p>Downloaders are note required to register on the Our Notes Website prior to making a purchase. All Notes are offered for sale under the following terms:</p>
    <ul>
      <li><p>Our Notes can not be held responsible for the conduct of anyone else using the Our Notes platform, this includes but is not limited to Our Notes staff.</p></li>
      <li><p>Our Notes does attempt to verify the Notes provided but is not responsible for the quality of the Notes downloaded from its platform.</p></li> 
      <li><p>Our Notes is not in anyway responsible for your performance based on Notes downloaded from the Our Notes Website. Nor does Our Notes claim that the Notes provided on this site are a substitute for textbooks, lectures or tuition.</p></li>
      <li><p>Once downloaded the notes must note be copied or distributed to any other person. Our Notes watermarks all Notes downloaded from the Our Notes Website and will (on bequest of the Uploader) pursue any Downloader who is found to have copied or distributed any Notes.</p></li>
      <li><p>The Notes on the Our Notes Website are offered sold as seen based on a preview. Refunds cannot be made unless the Notes are corrupted.</p></li>
      <li><p>An order for Notes cannot be canceled once it is placed. Orders cannot be modified once placed and no refunds will be offered for incorrect e-mail addresses.</p></li> 
      <li><p>All downloaded Notes but be retrieved from our server within 24 hours of the confirmation e-mail being sent to the Downloaded. After this time the Order will be deleted from our system regardless of their download status.</p></li>
      <li><p>An e-mail delivery system is used and Our Notes monitors outgoing mail. If you have not received your confirmation e-mail within 2 hours of your order you should contact Our Notes via the Our Notes Website stating the e-mail address used in the order process.</p></li>
      <li><p>Our Notes uses sensitive encryption and security software to send and receive information from PayPal our chosen payment processor. Any fraudulent activity will be reported to PayPal and relevant law enforcement authorities.</p></li>
    </ul>

      <h2>6. Rules of Use</h2> 

      <p>When you access or use the Our Notes Website, you agree:</p>
      <ul>
        <li><p>when an Uploader agrees to sell Notes to a Downloader, the Uploader and Downloader enter into a binding legal contract, facilitated by Our Notes;</p></li>
        <li><p>Uploaders and Downloaders are solely responsible for ensuring that their use of Our Notes complies with the law in their jurisdiction;</p></li>
        <li><p>Uploaders must not offer their Notes for sale in any other forum  and must not provide any false or misleading information to Our Notes;</p></li>
        <li><p>Our Notes is not responsible for any loss or damage resulting from using the Our Notes Website regardless of how that loss or damage occured;</p></li>
        <li><p>Our Notes will not be used to infringe or jepordise the Intellectual Property or Copyright of any other person or organization;</p></li>
        <li><p>Our Notes is not responsible for any Copyright or Intellectual Property infringement from Notes offered on the Our Notes Website;</p></li>
        <li><p>Our Notes disclaims all warranties, representations, conditions, guarantees and terms other than those expressly set out here, express or implied; to the extent permitted by the law. In the event that Our Notes is found liable to any party, Our Notes liability is limited to £100.00 or any fees that party has paid in the preceding 12 months;</p></li>
        <li><p>you indemnify Our Notes against any Loss suffered or incurred by any Claim made by any party as a result of your actions on the Our Notes Website or if you breach the Our Notes Website terms;</p></li>
        <li><p>Our Notes are unconditionally released from any liability, obligation or responsibility relating to or in connection with any dispute between Our Notes site users; </p></li>
        <li><p>you will not use the Our Notes site if you are a minor and unable to enter a legally binding contract in your jurisdiction; </p></li>
        <li><p>you will not distribute viruses through the Our Notes Website and Our Notes will not be held responsible for any viruses distributed through the Our Notes Website. You also undertake not to: impose unreasonable loads on the Our Notes servers; use any means to harvest material (including by not limited to e-mail addresses) from the Our Notes Website; bypass any security measure in place on the Our Notes Website nor attempt to bypass any measure;</p></li>
        <li><p>Our Notes does not guarantee the continuous error-free operation of the Our Notes Website nor does it guarantee the security of Notes held on behalf of Uploaders;</p></li>
        <li><p>to the Our Notes Privacy Policy which is part of these Terms and Conditions;</p></li>
        <li><p>the information provided by you to Our Notes is true, complete and accurate;</p></li>
        <li><p>Our Notes is not responsible for any taxes or levies arising from your use of the Our Notes Website or any of Our Notes services;</p></li>
        <li><p>that Our Notes can report any activity that it deems to be fraudulent including money laundering activities to the relevant Law Enforcement Authorities.</p></li>
      </ul>

      <h2>7. Charges</h2> 

      <p>Our Notes does no charge a fee for submitting Notes to the Our Notes Website, nor does it charge for approving the submitted Notes.</p>
      <p>Our Notes reserves the exclusive right to set the price at which Notes are offered to Downloaders. Our Notes also reserves the right to alter the price of Notes offered on the Our Notes Website without warning or cause.</p>
      <p>Our Notes charges a commission equivalent to 50% of the final sale price (excluding VAT) of a Note downloaded the Our Notes Website. This commission represents the costs associated with storing, advertising, processing payment for and delivering the Notes.</p>
      <p>Uploaders authorize Our Notes to collect payment from Downloaders each time a Note is ordered. Our Notes will then forward this payment less commission to the Uploader 30 days after the Note is downloaded. All payment will be made to the Uploader by PayPal and Uploader is responsible for any fees imposed by PayPal.</p>

      <h2>8. Copyright and Intellectual Property</h2>

      <p>Any person or organization that believes their copyright or intellectual property is being infringed by Notes on the Our Notes Website should contact Our Notes and we will.</p>
      <p>Our Notes will temporarily remove any Notes reported to them from sale during their investigations. Following their investigation Our Notes will either add the Notes back to their platform or remove the Notes permanently depending on the outcome.</p>
 
      <h2>9. General</h2>

      <p>These Terms and Conditions form the entire agreement between you and Our Notes, revoking and superseding  any previous agreements.</p>
      <p>If any provision of these Terms and Conditions are held to be invalid or unenforceable, such a provision will be severed and the remaining provisions will continue in force. Any delay in Our Notes upholding or enforcing these Terms and Conditions does not represent a waiver of them.</p>
      <p>Our Notes reserves the right to apply these Terms and Conditions without limitations and to alter them from time to time. Our Notes will inform you that these Terms and Conditions have changed by posting revised Terms and Conditions on the Our Notes Website or by e-mail within 30 days of you using the Our Notes Website.</p>

	</div>
</div>
</div>
